version: "3"

services:

  oj-redis:
    image: redis:alpine
    container_name: oj-redis
    restart: always
    volumes:
      - ./data/redis:/data
    command: ["redis-server", "--appendonly", "yes"]

  oj-postgres:
    image: postgres:17-alpine
    container_name: oj-postgres
    restart: always
    environment:
      POSTGRES_DB: onlinejudge
      POSTGRES_USER: onlinejudge
      POSTGRES_PASSWORD: onlinejudge
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  oj-judge:
    image: ghcr.io/gugugagaoj/judgeserver:latest
    restart: always
    container_name: oj-judge
    environment:
      SERVICE_URL: http://oj-judge:8080
      BACKEND_URL: http://oj-backend:8000/api/judge_server_heartbeat/
      TOKEN: SUPER_MEOW_SECRET_TOKEN  

    volumes:
      - ./data/backend/test_case:/test_case:ro
      - ./data/judge_server/log:/log
      - ./data/judge_server/run:/judger

    read_only: true
    cap_drop:
      - SETPCAP
      - MKNOD
      - NET_BIND_SERVICE
      - SYS_CHROOT
      - SETFCAP
      - FSETID
    tmpfs:
      - /tmp

  oj-backend:
    image: ghcr.io/gugugagaoj/onlinejudge:latest
    restart: always
    container_name: oj-backend
    depends_on:
      - oj-redis
      - oj-postgres
      - oj-judge

    environment:
      POSTGRES_DB: onlinejudge
      POSTGRES_USER: onlinejudge
      POSTGRES_PASSWORD: onlinejudge

      JUDGE_SERVER_TOKEN: SUPER_MEOW_SECRET_TOKEN  

    volumes:
      - ./data/backend:/data

    ports:
      - "80:8000"
      - "443:1443"
